# gradle

.gradle/
build/*
out/
classes/

#exclude loom_cache and generated jars

!build/loom-cache
!build/libs

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/
