# gradle

.gradle/
build/
out/
classes/

# exclude meteor jar

!build/loom-cache/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/
